apiVersion: v1
baseDomain: ${BASE_DOMAIN}
metadata:
  name: ${CLUSTER_NAME}
controlPlane:
  name: master
  replicas: 1
  hyperthreading: Enabled
  architecture: ${ARCH} 
compute:
 - name: worker
   replicas: 0
   hyperthreading: Enabled
   architecture:  ${ARCH}   
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  machineNetwork:
  - cidr: ${CIDR} 
platform:
  none: {}
pullSecret: '${PULL_SECRET}'
sshKey: |
  ${SSH_PUBKEY}
bootstrapInPlace:
  installationDisk: /dev/sda
